version: "3"
services:
  nginx:
    image: nginx
    ports:
      - 80:80
      - 81:81
    volumes:
      - /work/playground/nginx/cert:/home/cert
      - /work/playground/nginx/conf.d/default.conf:/etc/nginx/conf.d/default.conf
      - /work/playground/nginx/log:/var/log/nginx
      - /work/playground/nginx/html:/usr/share/nginx/html
      - /file:/file
  gateway:
    container_name: playground-gateway
    image: playground-gateway
    ports:
      - 5000:5000
    restart: always
    build:
      context: ./gateway
    logging:
      driver: "json-file"
      options:
        max-size: "5g"
  user:
    container_name: playground-user
    image: playground-user
    ports:
      - 5001:5001
    restart: always
    build:
      context: ./user-service
    logging:
      driver: "json-file"
      options:
        max-size: "5g"
  file:
    container_name: playground-file
    image: playground-file
    ports:
      - 5002:5002
    restart: always
    build:
      context: ./user-service
    logging:
      driver: "json-file"
      options:
        max-size: "5g"